<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Dashboard</title>
</head>
<body>
    <header class="dashboard">
        <div class="header-left">
            <div class="logo">
               <img src="../icons/pin2.png" >
            </div>

            <i class="fab fa-pinterest"></i>
            <div class="nav-links">
                <a href="#"><i class="fas fa-home"></i> Home</a>
                <div class="create-dropdown">
                    <a href="#"><i class="fas fa-plus"></i> Create</a>
                    <div class="dropdown-content">
                        <a href="#"><i class="fas fa-thumbtack"></i> Pin</a>
                        <a href="#"><i class="fas fa-clipboard"></i> Board</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-center">
            <div class="search-bar">
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="header-right">
            <div class="notification">
                <a href="#"><i class="fas fa-bell"></i></a>
            </div>
            <div class="messages">
                <a href="#"><i class="fas fa-envelope"></i></a>
            </div>
            <div class="profile">
                <div class="profile-pic">
                    <img src="profile.jpg" alt="Profile Picture">
                </div>
                <div class="profile-dropdown">
                    <a href="#"><i class="fas fa-user"></i> Account</a>
                    <a href="#"><i class="fas fa-cog"></i> Settings</a>
                    <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
            </div>
        </div>
    </header>
  
</body>
</html>
